/*	==========================================================================
	General styles
	========================================================================== */

html {
    height: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.7;
    color: #1a1a1a;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.7em;
    margin-bottom: 0;
}

p {
    margin-top: 0
}

code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    background-color: #f0f0f0;
    margin: 0;
    padding: .2em .4em;
    font-size: 85%;
}

pre {
    padding: 1em;
    line-height: 1.5em;
    overflow-x: auto;
    white-space: pre;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #9EABB3;
    margin: 0 0 18px 0;
    padding: 0.5em 10px;
    font-style: italic;
}

blockquote:before {
    color: #9EABB3;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: #9EABB3 1px solid;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #1a1a1a;
	text-decoration: none;
}

.anchor {
    position: absolute;
    left: -24px;
    width:24px;
    opacity: 0;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    opacity: 1;
}

.post-title a {
	color: #1a1a1a !important;
	text-decoration: none !important;
}

/* Tables and dictionaries (straight up ripped out of the Casper stylesheet with minor modifications) */

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.7em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

th, td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: #EFEFEF 1px solid;
}

td h3, td h4, td h5, td h6 {
	margin: 0 0 0.5rem 0;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody { border-top: #EFEFEF 2px solid; }

table table table { background-color: #FFF; }

th {
	color: #000;
    background-color: #F6F6F6;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    margin-bottom: 1em;
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

/*	==========================================================================
	Blog header
	========================================================================== */

.main-header {
    position: relative;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    display: table;
}

.main-header-content {
	height: auto;
}

.blog-title {
    margin: 0;
    padding: 0;
    font-size: 2.887rem;
    vertical-align: middle;
    line-height: 1;
}

.blog-description {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 300;
    font-style: italic;
}

/*	==========================================================================
	Navigation
    ========================================================================== */

.nav {
	margin-top: 1rem;
}

.nav {
	text-transform: uppercase;
	font-size: .889rem;
}

.nav a {
	margin: 0 0.5rem;
    text-decoration: none;
    border-bottom: 1px solid#3A4145;
    color: inherit;
}

.nav a:hover {
    border-bottom: 2px solid #3A4145;
}

.nav a:visited {
    color: inherit;
}

a.nav-current {
    font-weight: bold;
    border-bottom: 2px solid #3A4145;
}

/*	==========================================================================
	Site footer
	========================================================================== */

.site-footer {
    position: relative;
    display: table;
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    overflow: hidden;
    font-size: .79rem;
}

a.subscribe-button {
	color: #FC7E0F;
	text-decoration: none;
}

/*	==========================================================================
	Posts
	========================================================================== */

.post {
    position: relative;
    margin: 2rem auto;
    padding-bottom: 4rem;
}

.post-header {
    margin: 5em 0;
    text-align: center;
}

.post-meta {
    margin-top: 1em;
}

.post-footer {
	margin-top: 2rem;
}

.post-summary .post-header {
    text-align: left;
    margin: 0;
}

.post-excerpt p {
    margin: 0;
}

.post-summary .post-meta {
    margin-top: 10px;
    font-size: 80%;
    text-transform: uppercase;
}

.post img {
	display: block;
	max-width: 100%;	/* Keep image contained in width of post */
	margin: 0 auto 0.5rem;
}

.footnotes-sep {
	display: none;
}

/* Koenig image styles */

.kg-image-card {
	margin-bottom: 0.5rem;
}

.kg-image-card img {
	margin-bottom: 0;
}

.post .kg-image-wide {
	max-width: 1050px;
	margin: 0 -200px;
}

@media (max-width: 1100px) {
	.post .kg-image-wide {
		max-width: 140%;
		margin: 0 -20%;
	}
}

@media (max-width: 950px) {
	.post .kg-image-wide {
		max-width: 120%;		/* Start calculating as percentage of viewport? */
		margin: 0 -10%;
	}
}

.post .kg-image-full {
	max-width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.kg-image-card figcaption {
	font-size: 0.79rem;
	text-align: center;
}


/* YouTube embed wrapper to scale to full-width */

.yt-wrapper {
	position: relative;
	width: 100%;
	margin: 0;
}

.yt-wrapper:before{
	content: "";
	display: block;
	padding-top: 56.25%;	/* 16:9 aspect ratio */
}

.yt-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*	==========================================================================
	Tags
	========================================================================== */

.tag-title {
    font-size: 1.802rem;
	font-weight: bold;
	margin-top: 0;
}

.tag-image {
	max-width: 100%
}

.tag-description {
	color: #9EABB3;
}

/* ==========================================================================
   Pagination
   ========================================================================== */

/* The main wrapper for pagination links */
.pagination {
    position: relative;
    margin: 2rem auto;
    font-size: .79rem;
    color: #9EABB3;
    text-align: center;
}

.pagination a {
    color: #9EABB3;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
    text-decoration: none;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts {
    left: 0;
}

.older-posts:hover,
.newer-posts:hover {
    color: #FC7E0F;
}

.extra-pagination {
    display: none;
}

.extra-pagination .pagination {
    width: auto;
}

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
    display: block;
}

/* ==========================================================================
   12. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {

	html {
		font-size: 100%;
	}

   .blog-title {
		font-size: 2.281rem;
	}

	.blog-description {
	   font-size: 0.889rem;
	}
}

elm-canvas canvas {
    margin-left: 50%;
    transform: translate(-50%);
}

/** I am not sorry **/
svg.icon-rss {
    clip-path: inset(0 0 50% 50%);
    transform: translate(0, 12px);
}
