<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>
    {{ block "title" . }}
    {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}
    {{ end }}
  </title>

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end -}}

  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="{{ "assets/css/custom.css"|relURL }}">

  <script data-goatcounter="https://lambda-out-loud.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>

  {{ if .Params.scriptNames }}
  {{ range .Params.scriptNames }}
  <script src="{{ . }}"></script>
  {{ end }}
  {{ end }}
</head>
