<header class="main-header">
	<div class="main-header-content">
		<a href="{{ "/" | relLangURL }}">
			<img src="/static/img/lambda.png" alt="Logo Lambda Out Loud" />
		</a>
		<h2 class="blog-description">{{ .Site.Params.description }}</h2>
	</div>

	<div class="nav">
    {{ $currentPage := . }}
		{{ range .Site.Menus.main }}
      <a class="nav- {{ if $currentPage.IsMenuCurrent "main" . }}nav-current{{ end }}" role="presentation" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
		{{ end }}
	</div>
</header>
