{{ define "body_class" }}tag-template{{ end }}
{{ define "title" }}
  {{ .Title }}
{{ end }}
{{ define "main" }}
{{ $paginator := .Paginate .Pages (index .Site.Params "archive-paginate" | default 10) }}
<main role="main">

  {{ if not $paginator.HasPrev }}
      <h1 class="post-title">
        {{ if eq .Data.Plural "tags" }}
          All posts tagged with "{{ .Title }}"
        {{ end }}
        {{ if eq .Data.Plural "grimoire" }}
          {{ .Title }} grimoire
        {{ end }}
      </h1>

      {{ if .Content }}
        <section class="meta">{{ .Content }}</section>
      {{ end }}

      {{ if eq .Data.Plural "tags" }}
        <p class="meta"><a href="/tags">View all tags</a></p>
      {{ end }}
  {{ end }}

  {{ range $paginator.Pages  }}
  {{ .Render "summary"  }}
  {{ end  }}
  {{ partial "pagination.html" .  }}

</main>
{{ end }}
