{{ define "body_class" }}tag-template{{ end }}
{{ define "title" }}
  {{ .Title }}
{{ end }}
{{ define "main" }}
{{ $paginator := .Paginate .Pages (index .Site.Params "archive-paginate" | default 10) }}
<main class="content" role="main">

  {{ if not $paginator.HasPrev }}
    <header class="post-header">
      <h1 class="post-title">
        {{ if eq .Data.Plural "tags" }}
          All posts tagged with "{{ .Title }}"
        {{ end }}
        {{ if eq .Data.Plural "grimoire" }}
          {{ .Title }} grimoire
        {{ end }}
      </h1>

      {{ if .Content }}
        <section class="post-meta">{{ .Content }}</section>
      {{ end }}

      {{ if eq .Data.Plural "tags" }}
        <section class="post-footer"><a href="/tags">View all tags</a></section>
      {{ end }}
    </header>
  {{ end }}

	<div class="extra-pagination">
	    {{ partial "pagination.html" .}}
	</div>
  {{ range $paginator.Pages  }}
  {{ .Render "summary"  }}
  {{ end  }}
  {{ partial "pagination.html" .  }}

</main>
{{ end }}
