{{ define "body_class" }}tag-template{{ end }}
{{ define "title" }}
  {{ .Title }}
{{ end }}
{{ define "main" }}
{{ $paginator := .Paginate .Pages (index .Site.Params "archive-paginate" | default 10) }}
<main class="content" role="main">
  {{ if not $paginator.HasPrev }}
    {{ if eq .Data.Plural "tags" }}
      <h1 class="tag-title">All posts tagged with "{{ .Title }}"</h1>
    {{ end }}
    {{ if eq .Data.Plural "grimoire" }}
      <h1 class="tag-title">{{ .Title }} grimoire</h1>
    {{ end }}
  {{ end }}

  {{ if .Content }}
    {{ .Content }}
  {{ end }}

	<div class="extra-pagination">
	    {{ partial "pagination.html" .}}
	</div>
  {{ range $paginator.Pages  }}
  {{ .Render "summary"  }}
  {{ end  }}
  {{ partial "pagination.html" .  }}
</main>
{{ end }}
