{{ define "body_class" }}tag-template{{ end }}
{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
{{ $paginator := .Paginate .Pages (index .Site.Params "archive-paginate" | default 10) }}
<main role="main">
    <h1>{{ .Title }}</h1>

    <ul>
        {{ range .Data.Terms.Alphabetical }}
            <li>
                <a href="{{ .Page.Permalink }}">
                    {{ .Page.Title }}
                </a>
                ({{ .Count }})
            </li>
        {{ end }}
    </ul>

    {{ .Content }}
</main>
{{ end }}
