{{ define "body_class" }}tag-template{{ end }}
{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
{{ $paginator := .Paginate .Pages (index .Site.Params "archive-paginate" | default 20) }}
<main role="main">
    <h1>{{ .Title }}</h1>

    {{ if .Params.subtext }}
    <p>{{ .Params.subtext }}</p>
    {{ end }}

    {{ range .Data.Terms.Alphabetical }}
    <details open>
        <summary>{{ .Page.Title }} ({{ .Count }})</summary>
        <ul>
            {{ range .Pages }}
            <li>
                <a href="{{ .Page.Permalink }}">
                    {{ .Page.Title }}
                </a>
            </li>
            {{ end }}
        </ul>
    </details>
    {{ end }}

    {{ .Content }}
</main>
{{ end }}
