:root {
    --code-bg: #f0f0f0;
}

.meta {
    color: var(--text-light);
    font-size: 1rem;
}

.post-link {
    font-size: 1.6rem;
    font-weight: bold;
}

.post-item {
    margin-bottom: 4rem;
}

.post-item:first-of-type {
    margin-top: 2rem;
}

.site-title {
    font-family: u000;
    font-weight: normal;
	text-decoration: none;
    color: inherit;
    font-size: 3rem;
}

.site-title:visited {
    color: inherit;
}

.site-title + p {
    margin-top: 0;
}

h1 + .meta {
    margin-top: -1.5rem;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.anchor {
    width: 24px;
    opacity: 0;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    opacity: 1;
}

pre {
    background-color: var(--code-bg);
}


code {
    background-color: var(--code-bg);
    color: inherit;
    margin: 0;
    padding: .2em .4em;
    font-size: 85%;
}

.older-posts {
    margin-left: 1rem;
}

@media (prefers-color-scheme:dark) {
    code {
        background-color: var(--accent-bg);
    }

    pre {
        background-color: var(--accent-bg)!important;
    }
}
